<html>
    <section class="pageHeader">
        <p id="title">Lord of the Rings Wiki</p>
    </section>

    <section class="navBar">
        <ul id="navMenu">
            <li><a href="/">Home</a></li>
            <li><a href="/characters">Characters</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/races">Races</a></li>
            <li><a href="/weapons">Weapons</a></li>
            <li><a href="/media" class="active">Media</a></li>
        </ul> 
    </section>

    <section class="pageContent">
        <div class="pageTitle">
            <h2>Update Media Information</h2>
        </div>

        <div class="updateForm">
            <fieldset>
                <form id="updateMedia" action="/media_update/update" method="post">
                    <input type="text" name="mediaID" value="{{media.[0].mediaID}}" hidden>

                    <label>Title:
                        <input type="text" name="mediaTitle" id="mediaTitle" size="35" maxlength="100" required="required" value="{{media.[0].title}}">
                    </label>
                    <br>
                    <br>
                    <label>Media Type:
                        <select name="mediaType" id="mediaType" required="required">
                            {{#ifEquals media.[0].mediaType "Book"}}
                                <option value="Book" selected>Book</option>
                                <option value="Movie">Movie</option>
                                <option value="Other">Other</option>
                            {{/ifEquals}}
                            {{#ifEquals media.[0].mediaType "Movie"}}
                                <option value="Book">Book</option>
                                <option value="Movie" selected>Movie</option>
                                <option value="Other">Other</option>
                            {{/ifEquals}}
                            {{#ifEquals media.[0].mediaType "Other"}}
                                <option value="Book">Book</option>
                                <option value="Movie">Movie</option>
                                <option value="Other" selected>Other</option>
                            {{/ifEquals}}
                        </select>
                    </label>
                    <br>

                    <br>
                    <label>Release Date:
                        <input type="date" name="releaseDate" id="releaseDate" value="{{media.[0].releaseDate}}" required="required">
                    </label>
                    <br><br>
                    <label>Synopsis:<br>
                        <textarea name="synopsis" id="synopsis" style="width: 400px; height: 200px;">{{media.[0].synopsis}}</textarea>
                    </label>
                    <br><br>
                    <input id="updateButton" type="submit" value="Update">
            </fieldset>
            <br>
            <button type="button"><a href="/media" style="color:white">Return to the list of Media</a></button>
            <br><br>
        </div>
    </section>
    
    <script src="/js/updateButtons.js"></script>
    <script src="/js/header.js"></script>
</html>
