<html>
    <section class="pageHeader">
        <p id="title">Lord of the Rings Wiki</p>
    </section>

    <section class="navBar">
        <ul id="navMenu">
            <li><a href="/">Home</a></li>
            <li><a href="/characters">Characters</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/races" class="active">Races</a></li>
            <li><a href="/weapons">Weapons</a></li>
            <li><a href="/media">Media</a></li>
        </ul> 
    </section>

    <section class="pageContent">
        <div class="pageTitle">
            <h2>Races</h2>
        </div>
        <div id="locationTable">
            <table>
                <tbody>
                    {{#each races}}
                    <tr>
                        <td>{{racesName}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <br>

        <br>
        <h3>Add Race:</h3>
        <div class="addEntry">
            <fieldset>
                <form id="add_race" action="/races" method="post">
                    <label>Race Name:
                        <input type="text" name="race_Name" size="30" maxlength="100" required="required">
                    </label>
                    <br>
                    <br>
                    <input type="submit" value="Add Race" id="addRace"/>
                </form>
            </fieldset>
        </div>
        <br>
        
        <br>
    </section>

    <script src="/js/header.js"></script>
</html>
