<html>
    <section class="pageHeader">
        <p id="title">Lord of the Rings Wiki</p>
    </section>

    <section class="navBar">
        <ul id="navMenu">
            <li><a href="/">Home</a></li>
            <li><a href="/characters">Characters</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/races">Races</a></li>
            <li><a href="/weapons" class="active">Weapons</a></li>
            <li><a href="/media">Media</a></li>
        </ul> 
    </section>

    <section class="pageContent">
        <div class="pageTitle">
            <h2>Weapons</h2>
        </div>
        <div id="weaponTable">
            <table>
                <tbody>
                    {{#each weapons}}
                    <tr>
                        <td>{{weaponType}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <br>

        <br>
        <h3>Add Weapon:</h3>
        <div class="addEntry">
            <fieldset>
                <form id="add_weapon" action="/weapons" method="post">
                    <label>Weapon Type:
                        <input type="text" name="weaponType" size="30" maxlength="100" required="required">
                    </label>
                    <br>
                    <br>
                    <input type="submit" value="Add Weapon" id="addWeapon"/>
                </form>
            </fieldset>
        </div>
        <br>
        
        <br>
    </section>

    <script src="/js/header.js"></script>
</html>
