<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Lord of the Rings Wiki - {{pageTitle}}</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		{{{body}}}
	</body>
</html>