body{
  margin: 0;
  padding: 0;
}

.pageHeader{
  padding-top: 15px;
  padding-bottom: 10px;
  background-image: url('https://pbs.twimg.com/media/CMFG6npWwAAro3r.jpg');
  width: 100%;
  text-align: center;
  height: 200px;
}

#title{
  padding-top: 30px;
  width: 75%;
  color: white;
  text-emphasis: bold;
  font-family: arial;
  font-size: 90px;
  margin: 0 auto;
  text-shadow: 2px 3px black;
}


#navMenu{
  text-align: center;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  background-color: black;
}

#navMenu li{
  display: inline;
}

#navMenu li a{
float: center;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
}

#navMenu li a:hover {
background-color: rgb(219, 202, 45);
color: black;
}

.active {
background-color: rgb(6, 78, 6);
color: white;
}

a{
  text-decoration: none;
}

.pageContent{
  padding-top: 100px;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  font-family: arial;
}

h2{
  font-family: arial;
  font-size: 70px;
  text-align: center;
  margin: 0;
}

table{
  border: solid 2px;
  font-family: arial;
  font-size: 30px;
}

td, th{
  border: solid 1px;
  padding: 10px;
}

fieldset{
  padding: 15px;
}

.addEntry{
  width: 200px;
  font-family: arial;
}

.addTitle{
font-family: arial;
font-size: 25px;
}

button, .up{
cursor: pointer;
font-size: 25px;
padding: 5px 10px;
border-radius: 10px;
background-color: rgb(7, 85, 18);
color: white;
}

.deleteMulti{
cursor: pointer;
font-size: 12px;
padding: 5px;
border-radius: 10px;
background-color: rgb(7, 85, 18);
color: white;
}

#submit{
cursor: pointer;
font-size: 12px;
padding: 3px 6px;
border-radius: 10px;
background-color: rgb(7, 85, 18);
color: white;
}

.addEntry button{
font-size: 12px;
padding: 3px 6px;
background-color: white;
color: black;
}

.modButtons{
text-align: center;
}

* {
padding: 0;
margin: 0;
}

#updateButton {
cursor: pointer;
font-size: 25px;
padding: 5px 10px;
border-radius: 10px;
background-color: rgb(7, 85, 18);
color: white;
}

.updateTables {
border: none;
font-size: 15px;
}

.updateTables td {
border: none;
}

.updateTables button {
cursor: pointer;
font-size: 15px;
padding: 5px;
border-radius: 10px;
background-color: rgb(7, 85, 18);
color: white;
}

.multiSelect {
padding: 10px;
font-size: 15px;
}

/* For Modal */

.open {
text-align: left;
cursor: pointer;
background: transparent;
border: none;
outline: none;
font-size: inherit;
font-family: arial;
color: rgb(7, 85, 18);
}
.modal {
display: none; 
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4);
align-items: center;
justify-content: center;
cursor: pointer;
transition: all 1.5s ease-in;
}

.modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 50%;
border-radius: 5px;
max-height: 80vh;
overflow: auto;
cursor: default;
}

.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
} 

.modalTable {
border: none;
}

.modalTable td {
border: none;
}
